<div class="container">
    <h1 class="login">Login</h1>
        <form>
          <div class="form-group row">
            <label for="inputGebruikersnaam" class="col-sm-2 col-form-label">Gebruikersnaam</label>
            <div class="col-sm-8">
              <input #username type="text" class="form-control" id="inputGebruikersnaam" placeholder="Gebruikersnaam">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Wachtwoord</label>
            <div class="col-sm-8">
              <input #password type="password" class="form-control" id="inputPassword" placeholder="Wachtwoord">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button (click)="login(username.value,password.value)" type="submit" class="btn btn-primary">Log in</button>
              <button (click)="register(username.value,password.value)" class="btn btn-primary">Registreer</button>
            </div>
          </div>
        </form>
</div>