<div class="container">
  <h1 class="add-game">Add Ontwikkelaar</h1>
      <form>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-8">
            <input #Name type="text" class="form-control" id="inputName" placeholder="Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputHeadquarters" class="col-sm-2 col-form-label">Headquarters</label>
          <div class="col-sm-8">
            <input #Headquarters type="text" class="form-control" id="inputHeadquarters" placeholder="Headquarters">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputFounder" class="col-sm-2 col-form-label">Founder</label>
          <div class="col-sm-8">
            <input #Founder type="text" class="form-control" id="inputFounder" placeholder="Founder">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button (click)="addOntwikkelaar(Name.value,Headquarters.value,Founder.value)" type="submit" class="btn btn-primary">Add Ontwikkelaar</button>
          </div>
        </div>
      </form>
</div>